{% extends "base.html.twig" %}
{% block title %}New Player{% endblock %}
{% block body %}
    <div id="formLogin">
        <h1 class="h3 mb-3 font-weight-normal">Add Player</h1>

        {{ form_start(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}


