{% block body %}
    <footer id="sticky-footer" class="text-center text-lg-start fixed-bottom">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: black;">
            <p style="color: white;">© 2020 Copyright: PlayerStats</p>
        </div>
        <!-- Copyright -->
    </footer>
{% endblock %}
